
<div id="PayPalAfterChange" style="display:none">

  <!-- PLUGIN CONTENT -->

  {% if services.Template.isMyAccount() %}

  <button id="myAccountButtonAfterChange" class="btn btn-primary btn-block" @click="" :disabled="">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
    {% if installmentSelected == true %}
      {{ trans("PayPal::PayPal.installmentButton") }}
      {% else %}
        {{ trans("Ceres::Template.orderBuyNow") }}
    {% endif %}
  </button>

  {% endif %}

</div>


<script type="text/javascript">

document.addEventListener('historyPaymentMethodChanged', e =>
  {
      console.log(e);
    if(e.detail.newOrder.paymentMethodId == "")
    {
      document.getElementById("lol" + {{ order.id }}).style.display = "visible";
    }
  });

</script>
