<div style="border: 2px solid #009CDE; border-radius: 10px; max-width: 270px; padding: 5px;">
    <div class="row">
        <div class="col-sm-12 text-md-center">
            <p style="font-weight: bold; font-size: 13pt;">Zahlen Sie bei uns bequem<br> und einfach mit</p>
        </div>
        <div class="col-sm-12">
            <img class="img-fluid" src="{{ plugin_path('PayPal') }}/images/buttons/installment/VerticalLockup/FullColor/pp_credit-german_v_rgb.png" />
        </div>
    </div>
</div>