<button id="checkoutButtonPayPalInstallment" class="btn btn-primary btn-block" @click="preparePayment()" :disabled="waiting || waitingForInput">
    <i class="fa fa-arrow-right" aria-hidden="true"></i> {% if installmentSelected == true %}{{ trans("PayPal::PayPal.installmentButton") }}{% else %}{{ trans("Ceres::Template.orderBuyNow") }} {% endif %}
</button>

