<!-- PLUGIN BUTTON -->
{% if services.template.isMyAccount() %}
    {% set properties = order.order.properties %}

    {% for property in properties %}
        {% if property.typeId == 3 and property.value == paymentMethodId %}
            <button id="reinitPayPal-{{property.orderId}}" class="btn btn-primary btn-block" @click="" :disabled="" style="margin-top: .5rem">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                {% if installmentSelected == true %}
                    {{ trans("PayPal::PayPal.installmentButton") }}
                {% else %}
                    {{ trans("Ceres::Template.myAccountReinitPayment") }}
                {% endif %}
            </button>

        {% endif %}
    {% endfor %}
{% endif %}
