<!-- PLUGIN BUTTON -->
{% if services.template.isMyAccount() %}
    {% set properties = order.order.properties %}

    {% for property in properties %}
        {% if property.typeId == 3 and property.value == paymentMethodId %}
            <button id="reinitPayPal-{{order.order.id}}" class="btn btn-primary btn-block" @click="" :disabled="" style="display: block; margin-top: 0.5rem">
            {% else %}
            <button id="reinitPayPal-{{order.order.id}}" class="btn btn-primary btn-block" @click="" :disabled="" style="display: none; margin-top: 0.5rem">
        {% endif %}
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        {% if installmentSelected == true %}
            {{ trans("PayPal::PayPal.installmentButton") }}
        {% else %}
            {{ trans("Ceres::Template.myAccountReinitPayment") }}
        {% endif %}
    </button>
    {% endfor %}
{% endif %}
