  <!-- PLUGIN BUTTON -->
  {% if services.template.isMyAccount() %}
    <button id="reinitPayPal-{{order.order.id}}" class="btn btn-primary btn-block" @click="preparePayment()" :disabled="waiting || waitingForInput" style="display:none;">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      {% if installmentSelected == true %}
        {{ trans("PayPal::PayPal.installmentButton") }}
      {% else %}
        {{ trans("Ceres::Template.myAccountReinitPayment") }}
      {% endif %}
    </button>
  {% endif %}
